/*  _example-style.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

header#head
	position: relative
	z-index: 250

	nav#nav
		position: absolute
		top: 50px
		left: 50px
		+flex($b: flex-start)

		div.menu-item
			flex: 0 0 28%
			padding-bottom: 8px

		div:last-of-type
			flex: 0 0 100%
			padding-left: 20px

		span
			position: relative
			top: -3px


	section#feat-logo
		position: absolute
		top: 0
		left: 0
		width: 100%

		div.svg
			position: absolute

		div.svg.hanging-ferns
			top: -3px
			left: calc( 50% - 77px )
			z-index: 100
			svg
				width: 167px
				height: 101px

		div.svg.sun-ferns
			top: 20px
			left: calc( 50% - 8px )
			z-index: 100
			svg
				width: 306px
				height: 380px

		div.svg.mermaid
			top: 110px
			left: calc( 50% - 273px )
			z-index: 100
			svg
				width: 273px
				height: 420px

		div.svg.main-logo
			top: 80px
			left: calc( 50% - 200px )
			z-index: 50
			svg
				width: 400px
				height: 210px


div.content#container
	width: 100%
	max-width: 780px
	padding-top: 450px
	padding-bottom: 150px
	margin: 0 auto

	h6
		padding-bottom: 20px
	p
		text-indent: 50px
		padding-bottom: 40px 

	figure
		img
			display: block
			margin: 0 auto
			padding-top: 40px
			padding-bottom: 40px

body.blog div.content#container
	padding-top: 550px


body.home div.content#container > *
	position: absolute

body.home div.content#container
	position: relative
	z-index: 100
	height: 3124px
	max-width: 100%

	section.wp-block-cover-image
		+img
		top: 0
		left: 0
		height: 768px
		width: 100%

	p
		text-indent: 0

	p.text-1
		top: 820px
		left: calc( 50% - 214px )
		width: 520px

	p.text-2
		top: 930px
		left: calc( 50% - 380px )
		width: 320px

	figure.img-1
		top: 960px
		left: calc( 50% + 80px )


	figure.svg-1
		top: 1220px
		left: calc( 50% + 15px )
		width: 121px
		height: 303px

	figure.img-2
		top: 1340px
		left: calc( 50% - 544px )

	figure.img-3
		top: 1560px
		left: calc( 50% - 50px )

	p.text-3
		top: 2095px
		left: 50%
		width: 463px
	
	figure.img-4
		top: 2000px
		left: calc( 50% - 534px)

	figure.img-5
		top: 2250px
		left: calc( 50% + 20px )

	figure.img-6
		top: 2550px
		left: calc( 50% - 341px )

	p.text-4
		top: 3000px
		left: calc( 50% + 90px )
		width: 523px


footer#foot
	+flex
	width: 100%
	max-width: 490px
	margin-left: 180px 
	padding-bottom: 90px

	div.wrapper
		flex: 0 0 50%

	div.left.wrapper
		div.svg.sun-shine
			svg
				width: 229px
				heigth: 141px

	div.right.wrapper
		address
			p
				margin-bottom: 8px

			svg
				width: 193px
				height: 8px


/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

header#head

	div.svg
		path.mermaid-cls-1,
		path.sunferns-cls-1,
		path.hanging-cls-1
			fill: $green

		polygon.logo-cls-1,
		path.logo-cls-1
			fill: $black

	nav#nav
		a
			font-size: 0.7rem
			color: $black
			&:hover
				color: $white


body.home header#head
	div.svg
		path.mermaid-cls-1,
		path.sunferns-cls-1,
		path.hanging-cls-1
			fill: $black

		polygon.logo-cls-1,
		path.logo-cls-1
			fill: $yellow

	nav#nav
		a
			color: $yellow
			&:hover
				color: $black

body.blog
	background: $white


	header#head nav#nav
		a
			color: $black
			&:hover
				color: $green

