/* Resets & Tools */

@import 'reset'

@import 'mixins'

@import 'variables'


/* SITE CONTEXT -> Global styles */

h1, h2, h3, h5, h6
	@extend %Cumber-B
	color: $black
	line-height: 1.3em

p, a
	@extend %Cumber-R
	color: $black
	font-size: 1em
	line-height: 1.1em

html 
    box-sizing: border-box
    background-color: $black

*, *:before, *:after
    box-sizing: inherit

body
	background: linear-gradient(#f5e99f, #edd7d6, #4a8363)

img
  // width: 100%
  box-sizing: border-box

/* Styles ... */

@import 'main'